<section id="main">
    <div class="container">
        <div class="row">
            <div class="col-md">
                <h1 class="cd-headline clip is-full-width align-middle align-self-center main-text">
                    <span class="cd-words-wrapper">
                        <b class="is-visible">{{.headline1}}</b>
                        <b>{{.headline2}}</b>
                        <b>{{.headline3}}</b>
                    </span>
                </h1>
            </div>
            
        </div>
    </div>
    <div class="container-fluid">
        <div class="row justify-content-center align-items-centerr">
            <div class="main-imgs col-md-10 justify-content-center align-items-centerr">
                <img class="main-img1" data-src="{{.image1 | absURL}}" alt="Ponddy Smart Textbooks">
                <img class="main-img2" data-src="{{.image2 | absURL}}" alt="Ponddy Tutors">
                <img class="main-img3" data-src="{{.image3 | absURL}}" alt="Ponddy Reader">
            </div>
        </div>
    </div>
</section>