<section class="text-center" id="social">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-12">
                <a class="circle-btn" href="{{.facebook}}" target="_blank">
                    <img class="product-logo" data-src="{{.facebook_image | absURL}}" alt="Facebook" />
                </a>
                <a class="circle-btn" href="{{.twitter}}" target="_blank">
                    <img class="product-logo" data-src="{{.twitter_image | absURL}}" alt="Twitter" />
                </a>
                <a class="circle-btn" href="{{.youtube}}" target="_blank">
                    <img class="product-logo" data-src="{{.youtube_image | absURL}}" alt="YouTube" />
                </a>
                <a class="circle-btn" href="{{.instagram}}" target="_blank">
                    <img class="product-logo" data-src="{{.instagram_image | absURL}}" alt="Instagram" />
                </a>
                <a class="circle-btn" href="{{.linkedin}}" target="_blank">
                    <img class="product-logo" data-src="{{.linkedin_image | absURL}}" alt="Linkedin" />
                </a>
            </div>
        </div>
    </div>
</section>