<section id="dictionary-home" style="margin-top: 120px;" class="text-center product">
  <div class="container">
    <div class="clearfix">
      <div class="col-md-6 product-img float-right">
        <a href="{{.url}}" target="_blank">
          <img class="product-image product-image-dictionary" data-src="{{.image | absURL}}" alt="Ponddy Dictionary"></img>
        </a>
      </div>
      <div class="col-md-6 p-0 product-content">
        <div class="float-right product-text">
          <h1>{{.title}}</h1>
          <p style="padding-top: 20px;">{{.description}}
          </p>
          <div onclick="window.open('https://chinese.ponddy.com/products/app-dictionary/')" class="product-link url" data="dictionary">
            {{.button_text}}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
