<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom shadow-sm fixed-top">
        <div class="container">
            <a href="/" id="navLogo">
                <img alt="{{.site.logo.alt}}" class="logo product-logo" data-src="{{.site.logo.image}}" title="{{.site.logo.title}}">
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample07" aria-controls="navbarsExample07"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-text">menu</span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExample07">
                <ul class="navbar-nav mr-auto">
                    {{ range .header }}
                    <li class="nav-item">
                        <a class="nav-link" id="{{.id}}" href="{{.link}}">
                            {{.title}}
                        </a>
                    </li>
                    {{ end }}
                    {{ range .mobile_menu }}
                    <li class="nav-item contact"><a href="{{.link | safeURL }}"><img data-src="{{.image}}">{{.item}}</a></li>
                    {{ end }}
                </ul>
            </div>
        </div>
    </nav>
</header>