<section id="dictionary" class="text-center ">

  <div class="bg-image">
    <div class="row align-items-center">
      <div class="col-7 col-md-7 logo-left text-right">
        <!-- <div class="col-11 col-md-6 justify-content-center text-center"> -->
        <div class="row justify-content-end align-items-center" style="flex-wrap: inherit;">
          <div class="logo-title">Ponddy Chinese Dictionary</div>
          <div class="">
            <img class="logo-image" data-src="https://dsjlafdgtbc6g.cloudfront.net/dictionary/app-logo.png" alt="app-logo"></img>
          </div>
        </div>
        <!-- </div> -->
        <div class="text-right logo-description web">
          Vocabulary graded with the new standards ( “Chinese Proficiency Grading Standards for International Chinese Language Education - 2021”)
        </div>
      </div>
      <div class="col-5 col-md-5 text-left download-left">
        <a id="download-top" href="https://apps.apple.com/app/id1569799653" target="_black">
          <img class="download-image" data-src="https://dsjlafdgtbc6g.cloudfront.net/dictionary/btn_download_app_store.svg" alt="btn_download_app_store"></img>
        </a>
        <a id="download-top" href="https://play.google.com/store/apps/details?id=com.ponddy.dictionary" target="_black">
          <img class="download-image" data-src="https://dsjlafdgtbc6g.cloudfront.net/dictionary/btn_download_google-play.svg" alt="btn_download_google-play"></img>
        </a>
      </div>
      <div class="text-right logo-description mobile">
        Vocabulary graded with the new standards ( “Chinese Proficiency Grading Standards for International Chinese Language Education - 2021”)
      </div>
    </div>
  </div>
  <div>
    <div class="justify-content-center" style="display: flex;">
      <img class="app_image mobile" style="box-shadow: 0 0 8px rgb(45 57 66 / 20%);" data-src="https://dsjlafdgtbc6g.cloudfront.net/dictionary/app_image_phone-1.png" alt="app_image_phone"></img>
    </div>
    <div class="justify-content-center" style="display: flex;">
      <img class="app_image mobile" style="box-shadow: 0 0 8px rgb(45 57 66 / 20%);" data-src="https://dsjlafdgtbc6g.cloudfront.net/dictionary/app_image_phone-2.png" alt="app_image_phone"></img>
    </div>
    <div class="justify-content-center" style="display: flex;">
      <img class="app_image mobile" style="box-shadow: 0 0 8px rgb(45 57 66 / 20%);" data-src="https://dsjlafdgtbc6g.cloudfront.net/dictionary/app_image_phone-3.png" alt="app_image_phone"></img>
    </div>
    <div class="justify-content-center" style="display: flex;">
      <img class="app_image mobile" style="box-shadow: 0 0 8px rgb(45 57 66 / 20%);" data-src="https://dsjlafdgtbc6g.cloudfront.net/dictionary/app_image_phone-4.png" alt="app_image_phone"></img>
    </div>
    <div class="justify-content-center" style="display: flex;"></div>
    <img class="name_image mobile" data-src="https://dsjlafdgtbc6g.cloudfront.net/dictionary/name_image.png"></img>
  </div>
  <div class="justify-content-center" style="display: flex;">
    <img class="app_image web" style="box-shadow: 0 0 8px rgb(45 57 66 / 20%);" data-src="https://dsjlafdgtbc6g.cloudfront.net/dictionary/app_image_web-1.png" alt="app_image_web"></img>
  </div>
  <div class="justify-content-center" style="display: flex;">
    <img class="app_image web" style="box-shadow: 0 0 8px rgb(45 57 66 / 20%);" data-src="https://dsjlafdgtbc6g.cloudfront.net/dictionary/app_image_web-2.png" alt="app_image_web"></img>
  </div>
  <div class="justify-content-center" style="display: flex;">
    <img class="name_image web" data-src="https://dsjlafdgtbc6g.cloudfront.net/dictionary/name_image.png" alt="name_image"></img>
  </div>
  </div>

  <div class="col-12 col-md-12">
    <a id="download-bottom" href="https://apps.apple.com/app/id1569799653" target="_black">
      <img class="bottom-download-image" data-src="https://dsjlafdgtbc6g.cloudfront.net/dictionary/btn_download_app_store.svg" alt="btn_download_app_store"></img>
    </a>
    <a id="download-bottom" href="https://play.google.com/store/apps/details?id=com.ponddy.dictionary" target="_black">
      <img class="bottom-download-image" data-src="https://dsjlafdgtbc6g.cloudfront.net/dictionary/btn_download_google-play.svg" alt="btn_download_google-play"></img>
    </a>
  </div>
</section>