<main role="main">
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MKBG4P9"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>

    {{ partial "ai/main_services" .services }}

    {{ partial "ai/main_reader" .reader }}

    {{ partial "ai/main_tutors" .tutors }}

    <!-- {{ partial "ai/main_textbooks" .textbooks }} -->

    {{ partial "products/main_dictionary" .dictionary }}

    {{ partial "ai/main_contactus" .contactus }}

    {{ partial "ai/main_social" .social }}
</main>