<section id="tutors" class="text-center product">
    <div class="container">
        <div class="clearfix">
            <div class="col-md-6 product-img float-right">
                <a href="{{.url}}" target="_blank">
                    <img class="product-image" data-src="{{.image | absURL}}" alt="Ponddy Tutors"></img>
                </a>
            </div>
            <div class="col-md-6 p-0 product-content">
                <div class="float-right product-text">
                    <h1>{{.title}}</h1>
                    <p>{{.description}}
                    </p>
                    <a href="{{.url}}" target="_blank" class="product-link" data="tutors">
                        {{.button_text}}
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>