body {
  font-family: 'proxima-nova', 'Microsoft JhengHei', sans-serif;
}

h2 {
  color: rgba(47, 62, 63, 0.8);
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-transform: uppercase;
}

p,
li {
  font-family: "Helvetica Neue", Helvetica, Arial, 'Microsoft JhengHei', sans-serif;
  line-height: 1.56;
  letter-spacing: 0.9px;
  color: rgba(45, 54, 55, 0.5);
}

img {
  opacity: 0;
}

img:not(.initial) {
  transition: opacity 1s;
}

img.initial,
img.loaded,
img.error {
  opacity: 1;
}

footer a {
  font-weight: 300;
  line-height: 2.33;
  letter-spacing: 0.7px;
  color: rgba(45, 54, 55, 0.5);
}

footer a:hover {
  color: #3FB2D1;
  text-shadow: 0 0 0 #3FB2D1, 0 0 0 #3FB2D1;
  text-decoration: unset;
}

.navbar {
  min-height: 65px;
}

.navbar a {
  color: rgba(29, 47, 51, 0.5);
}

.nav-item.contact {
  display: none;
}

.nav-item.contact a:hover {
  text-decoration: unset;
}

.container .logo {
  height: 32px;
  margin: 8px 5rem 8px 0;
}

.navbar-toggler {
  border: none;
  padding: 0;
  margin-top: 7px;
  margin-bottom: 7px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navbar-toggler .icon-bar {
  background-color: #3fb2d1;
  transition: all 0.3s;
  width: 20px !important;
  height: 3px !important;
  border-radius: 4px;
  margin-bottom: 4px !important;
  margin-top: 0px !important;
  display: block;
}

.navbar-toggler .icon-bar:nth-child(3) {
  margin-bottom: 0px !important;
}

.navbar-toggler .icon-text {
  font-family: proxima-nova, sans-serif;
  font-size: 12px;
  line-height: 1;
  color: #3fb2d1;
  margin-top: 5px;
}

.navbar-toggler[aria-expanded="true"] .icon-bar:first-child {
  transform-origin: right;
  transform: rotate(-45deg);
}

.navbar-toggler[aria-expanded="true"] .icon-bar:nth-child(2) {
  background-color: #fff;
}

.navbar-toggler[aria-expanded="true"] .icon-bar:nth-child(3) {
  transform-origin: right;
  transform: rotate(45deg);
  margin-bottom: 0 !important;
}

.navbar-toggler[aria-expanded="true"] .icon-text {
  visibility: hidden;
}

.navbar button:focus {
  outline: unset;
}

#main {
  margin-top: 57px;
  background-color: #3fb2d1;
  background-size: cover;
}

#main .hero-box {
  background-color: #ffffff;
  margin-top: 17.5vw;
}

#main .hero-box h1 {
  font-size: 49px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.49;
  letter-spacing: normal;
  color: #3fb2d1;
  margin: 40px;
}

#main .hero-box .btn-hero {
  border-radius: 23.4px;
  box-shadow: 0 0 15px -5px rgba(80, 155, 198, 0.5);
  background-color: #3fb2d1;
  border-color: #3fb2d1;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: 0.9px;
  text-align: center;
  color: #ffffff;
  padding: 10px 30px;
  margin-left: 75px;
  margin-bottom: 75px;
}

#main .hero-box .btn-hero:hover {
  background-color: #ffffff;
  color: #3fb2d1;
}

#location {
  padding: 20px 0;
  background: -webkit-linear-gradient(top, #edf1f5 0%, #fff 20%);
  background: linear-gradient(to bottom, #edf1f5 0%, #fff 20%);
}

#location h1,
#business h1 {
  font-size: 40px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: rgba(47, 62, 63, 0.8);
  margin: 43px auto;
}

.loc-filter {
  max-width: 851px;
  margin: 0 auto;
}

#location .item {
  min-height: 300px;
}

#location .loc-box {
  box-shadow: 0 0 12px -5px rgba(0, 0, 0, 0.5);
  border: 1px solid #D5D7D9;
  cursor:pointer;
  color: rgba(47, 62, 63, 0.8) !important;
}
#location .loc-box:hover {
  box-shadow: none;
}
#location .loc-box h3 {
  font-size: 20px;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
}

#location .loc-box:hover {
  font-weight: bold !important;
  color: #3fb2d1 !important;
}

#location .choose .loc-box {
  box-shadow: 0 0 14px -3px #3fb2d1;
}

#location .choose .loc-box h3 {
  font-weight: bold;
  color: #3fb2d1;
}

#location .jobs {
  margin: 60px 0;
  border-bottom: 1px solid #979797;
}

#location .job {
  border-top: 1px solid #979797;
  padding: 24px 15% 30px 15%;
  transition: background-color 500ms ease 0s;
}

#location .job:hover {
  background-color: #f5f5f5;
  cursor: pointer;
}

#location .job h4 {
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.4;
  letter-spacing: 0.9px;
  color: rgba(45, 54, 55, 0.75);
}

#location .job p {
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: 0.9px;
  color: rgba(45, 54, 55, 0.5);
  margin: 10px auto 27px 40px;
}

#location .job span {
  padding-left: 40px;
}

#location .job span,
.job-detail span {
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: 0.9px;
  color: rgba(45, 54, 55, 0.5);
}

#location .job span::before ,
.job-detail span::before {
  content: url("https://dsjlafdgtbc6g.cloudfront.net/career/location.png");
  margin-right: 12px;
}

.job-detail .back {
  border-bottom: 1px solid #979797;
  padding-bottom: 25px;
  margin-bottom: 75px;
  margin-top: 25px;
}

.job-detail .back a {
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.4;
  letter-spacing: 0.9px;
  color: rgba(45, 54, 55, 0.75);
}

.job-detail .back a:hover {
  text-decoration: unset;
}

.job-detail h2 {
  font-size: 40px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: rgba(47, 62, 63, 0.8);
  text-transform:capitalize;
}

.job-detail h4 {
  font-size: 1rem;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.4;
  letter-spacing: 0.9px;
  color: rgba(45, 54, 55, 0.75);
}
.job-detail p{
  font-size: 1rem;
}
.mt-58 {
  margin-top: 58px;
}

.apply-btn {
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: 0.9px;
  text-align: center;
  color: #ffffff;
  border-radius: 23.4px;
  border-color: #3fb2d1;
  box-shadow: 0 0 15px -5px rgba(80, 155, 198, 0.5);
  background-color: #3fb2d1;
  padding: 12.5px 74px;
}

.apply-btn:hover {
  background-color: #ffffff;
  color: #3fb2d1;
  text-decoration: unset;
}

#business {
  margin-top: 20px;
  background-image: linear-gradient(to bottom, #3fb2d1, #3fb2d1);
  background-size: 100vw 17vw;
  background-repeat: no-repeat;
  background-position-y: calc(139px + 7vw);
}

#business .desktop-product {
  margin-bottom: 11.5vw;
  max-width: 1397px;
}

#business .desktop-product img {
  max-width: 100%;
  max-height: 280px;
  /* width: 29vw; */
}

#business .desktop-product .p-box {
  display: inline-grid;
}

#business .desktop-product .reader {
  position: relative;
  text-align: left;
  top: 1.7vw;
  z-index: 1;
}

#business .desktop-product .tutors {
  position: absolute;
  text-align: center;
  top: 11.5vw;
  left: 22.5vw;
  z-index: 3;
}

#business .desktop-product .smart-textbooks {
  position: absolute;
  right: 0;
  text-align: left;
  line-height: 0.7;
  z-index: 2;
}

#business .desktop-product .dictionary {
  position: absolute;
  right: 0;
  text-align: left;
  line-height: 0.7;
  z-index: 2;
}


#business .desktop-product span {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 4.7vw;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  color: #3fb2d1;
  line-height: 108px;
  -webkit-text-stroke: 0.5px white;
}

.reader span {
  padding-top: 3vw;
  padding-left: 2vw;
}

.smart-textbooks span {
  padding-top: 6.5vw;
  padding-left: 5vw;
}

.dictionary span {
  padding-top: 6.5vw;
  padding-left: 5vw;
}

.scroll-up-arrow {
  position: fixed;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.2);
  color: #fff;
  bottom: 40px;
  right: 30px;
  cursor: pointer;
  width: 40px;
  height: 40px;
  z-index: 100;
}

.scroll-up-arrow img {
  margin-left: auto;
  margin-right: auto;
  display: block;
  height: 15px;
  margin-top: 12px;
}

#contact {
  margin: 20px auto;
  text-align: center;
}

#contact h2 {
  margin: 40px;
}

#contact .row {
  display: flex;
  justify-content: center;
}

#contact p {
font-size: 15px;
font-weight: normal;
font-style: normal;
font-stretch: normal;
line-height: 1.6;
letter-spacing: 0.7px;
}

#contact .phone {
color: #3fb2d1;
}

#contact .mail {
font-size: 20px;
font-weight: normal;
font-style: normal;
font-stretch: normal;
line-height: 1.2;
letter-spacing: 0.9px;
color: #3fb2d1;
}

#social {
  margin: 50px auto 20px auto;
}

.circle-btn {
  margin: 50px 4vw 20px 4vw;
}

.circle-btn:hover {
  text-decoration: unset;
}

footer h5 {
  font-size: 1.15rem;
  font-weight: bold;
}

footer .product-logo img {
  margin: 40px 30px;
}

footer .product-logo a:hover {
  text-decoration: unset;
}

footer {
  background-color: #f8fafb;
}

.our-product {
  color: #f7b605;
}

.work {
  color: #45d8b8;
}

.resources {
  color: #3cc8ff;
}

.terms-policies {
  color: #6b44ff;
}

footer small {
  font-weight: 300;
  line-height: 2.33;
  letter-spacing: 0.7px;
  text-align: center;
  color: rgba(45, 54, 55, 0.5);
}

.navbar-expand-lg .navbar-nav .nav-link {
  cursor: pointer;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #3FB2D1;
  text-shadow: 0 0 0 #3FB2D1, 0 0 0 #3FB2D1;
}

.navbar-light .navbar-nav .nav-link.active {
  color: #3FB2D1;
  text-shadow: 0 0 0 #3FB2D1, 0 0 0 #3FB2D1;
}

@media only screen and (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }
}

@media only screen and (min-width: 768px) {
  #business .mobile-product {
    display: none;
  }
}

@media only screen and (max-width: 991px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    font-size: 1.13rem;
    padding: 14.5px 0;
  }

  .navbar-light .navbar-nav .nav-link:hover {
    color: #FFFFFF;
  }

  .nav-item {
    padding-left: 15px;
    min-height: 48px;
  }

  .nav-item:hover {
    background-color: #3FB2D1;
  }

  .nav-item.active {
    background-color: #3FB2D1;
  }

  .navbar-light .navbar-nav .nav-link.active {
    color: #FFF;
    text-shadow: unset;
  }

  .nav-item.contact {
    display: inline;
    font-size: 1.13rem;
    color: rgba(29, 47, 51, 0.5);
    padding: 14.5px 0;
  }

  .nav-item.contact img {
    padding: 0 15px;
  }

  .nav-item.contact:hover {
    background-color: unset;
  }

  footer .copyright {
    font-size: 0.5rem;
  }
}

@media only screen and (max-width: 767px) {
  /*body{*/
  /*  font-size: 0.8rem;*/
  /*}*/
  #main {
    margin-top: 57px;
    background-color: #3fb2d1;
    background-size: 258vw;
    background-repeat: no-repeat;
    background-position-x: 49%;
  }

  #main .hero-box {
    background-color: #ffffff;
    margin-top: 31.5vw;
    margin-left: 3vw;
    position: relative;
    top: 50px;
  }

  #main .hero-box h1 {
    font-size: 30px;
    line-height: 1.35;
    margin: 15px;
  }

  #main .hero-box .btn-hero {
    margin-left: 15px;
    margin-bottom: 15px;
    font-size: 13px;
    line-height: 1.85;
    letter-spacing: 0.6px;
  }

  #location .job {
    border-top: 1px solid #979797;
    padding: 24px 29px 30px 29px;
  }

  #business {
    background: transparent;
  }

  #business .desktop-product {
    display: none;
  }

  #business .mobile-product .reader {
    background-position: 0 15vw;
    background-size: 50vw 40vw;
    background-image: linear-gradient(to bottom, #3fb2d1, #3fb2d1);
    background-repeat: no-repeat;
  }

  #business .mobile-product .tutors {
    background-position: 100% 15vw;
    background-size: 50vw 40vw;
    background-image: linear-gradient(to bottom, #3fb2d1, #3fb2d1);
    background-repeat: no-repeat;
  }

  #business .mobile-product .smart-textbooks {
    background-size: 100vw 40vw;
    background-position: 0 15vw;
    background-image: linear-gradient(to bottom, #3fb2d1, #3fb2d1);
    background-repeat: no-repeat;
  }

  #business .mobile-product .p-box {
    margin-bottom: 30px;
  }

  #business .mobile-product .product-img {
    height: 54.5vw;
    position: relative;
  }

  #business .mobile-product .product-img img {
    height: 45vw;
  }

  #business .mobile-product .p-box span {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 11.9vw;
    font-size: 16vw;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    color: #3fb2d1;
    text-transform: capitalize;
  }

  footer a {
    font-size: 0.815rem;
  }

  footer {
    padding-top: 68px;
  }

  footer .product-logo {
    display: none;
  }
}
