<div class="modal fade" id="ponddy1Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered justify-content-center" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <img src="/public/images/m(3).png">
                <div class="close" data-dismiss="modal" aria-label="Close"><button>✕</button></div>
            </div>
            <div class="modal-body">
                <div class="row justify-content-center">
                    <h2>海量课程总有一个适合你</h2>
                </div>
                <div class="row justify-content-center">
                    <p>
                        智能平台 Ponddy Reader 拥有 900+ 海量课文的超大文库，您可以依照孩子兴趣或等级选择主题课程包或独立课文。所有课文均对应国际级语言测试标准（ HSK, CEFR, TOCFL 等），按照美国语言教学标准 ACTFL 设计，让华裔孩子无缝接轨学校主流语言教育体系。
                    </p>
                    <div class="">
                        <img src="/public/images/ponddy-1.png">
                    </div>
                </div>
                <div class="ponddy_link">
                    <div class="row">
                        <a class="link_out" href="https://ponddychinese-resources.s3-us-west-2.amazonaws.com/landings/homeshcool/%E4%B8%AD%E5%8D%8E%E6%96%87%E5%8C%96.pdf" target="_blank" data-was-processed="true">
                        ✣ 中华文化
                        <img class="link_out loaded" data-src="/public/images/icon_link_normal.png" src="/public/images/icon_link_normal.png" data-was-processed="true">
                        </a>
                        <a class="link_out" href="https://ponddychinese-resources.s3-us-west-2.amazonaws.com/landings/homeshcool/%E5%85%88%E8%BF%9B%E7%B3%BB%E5%88%97.pdf" target="_blank" data-was-processed="true">
                            ✣ 先进系列
                            <img class="link_out loaded" data-src="/public/images/icon_link_normal.png" src="/public/images/icon_link_normal.png" data-was-processed="true">
                        </a>
                    </div>
                    <div class="row">
                        <a class="link_out" href="https://ponddychinese-resources.s3-us-west-2.amazonaws.com/landings/homeshcool/%E5%BD%93%E4%BB%A3%E4%B8%AD%E5%9B%BD%E7%B3%BB%E5%88%97.pdf" target="_blank" data-was-processed="true">
                        ✣ 当代中国系列
                        <img class="link_out loaded" data-src="/public/images/icon_link_normal.png" src="/public/images/icon_link_normal.png" data-was-processed="true">
                        </a>
                        <a class="link_out" href="https://ponddychinese-resources.s3-us-west-2.amazonaws.com/landings/homeshcool/%E7%BE%8E%E5%9B%BD%E5%9C%A8%E5%9C%B0%E5%8C%96%E7%B3%BB%E5%88%97.pdf" target="_blank" data-was-processed="true">
                            ✣ 美国在地化系列
                            <img class="link_out loaded" data-src="/public/images/icon_link_normal.png" src="/public/images/icon_link_normal.png" data-was-processed="true">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>