<div class="modal fade" id="ponddy3Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered justify-content-center" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <img src="/public/images/m(3).png">
                <div class="close" data-dismiss="modal" aria-label="Close"><button>✕</button></div>
            </div>
            <div class="modal-body">
                <div class="row justify-content-center">
                    <h2>缤纷主题内置游戏趣味无限</h2>
                </div>
                <div class="row justify-content-center">
                    <p>
                        每篇文章内置多款游戏化练习，方便指派作业，并且支持多人比赛模式，让孩子在玩中学，轻松提高语言技能。主题式分级课文加上强大的 AI 功能，更支持用户自主输入内容生成定制智能课文，让学习有趣不枯燥
                    </p>
                    <div class="">
                        <img src="/public/images/ponddy-3.png">
                    </div>
                </div>
                <!-- img -->
                <div class="row text-center" id="all-features">
                    <div class="col-lg-4 col-md-5 item text-center">
                        <img class="icon_3" src="/public/images/ponddy_3-1.png">
                        <div class="title" style="border-left: none;">
                            <font style="color:#576168">
                                游戏式练习
                            </font>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-5 item text-center">
                        <img class="icon_3" src="/public/images/ponddy_3-2.png">
                        <div class="title" style="border-left: none;">
                            <font style="color:#576168">
                                AI 学习工具
                            </font>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-5 item text-center">
                        <img class="icon_3" src="/public/images/ponddy_3-3.png">
                        <div class="title" style="border-left: none;">
                            <font style="color:#576168">
                                自创智能课文
                            </font>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
