<header>
    <nav class="navbar navbar-expand-lg navbar-light fixed-top">
        <div class="container">
            <a href="/" class="home-link ponddy-logo" data-was-processed="true">
            </a>
            <div class="collapse navbar-collapse" id="navbarsExample07">
                <ul class="pd-nav-item navbar-nav mr-auto text-center">
                    <li class="nav-item">
                        <a href="#FAQ" data="navbar" data-was-processed="true">
                            FAQ
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#free_download" data="navbar" data-was-processed="true">
                            免费下载
                        </a>
                    </li>
                </ul>

            </div>
        </div>
    </nav>
</header>