<div class="modal fade" id="ponddy2Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered justify-content-center" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <img src="/public/images/m(3).png">
                <div class="close" data-dismiss="modal" aria-label="Close"><button>✕</button></div>
            </div>
            <div class="modal-body">
                <div class="row justify-content-center">
                    <h2>听说读写四大技能全面强化</h2>
                </div>
                <div class="row justify-content-center">
                    <p>
                        庞帝独家开发 AKLS® 语言技术及引导式教学辅助工具。 AI 工具 “Ponds” 将不同级别的词汇、字和部首产出智能关联，帮助学生实现跨文本学习巩固，查缺补漏、辅助字词记忆、补足语言弱项。
                    </p>
                    <div class="">
                        <img src="/public/images/ponddy-2.png">
                    </div>
                </div>
                <!-- img -->
                <div class="row text-center" id="all-features">
                    <div class="col-lg-4 col-md-5 item text-left ">
                        <img class="icon" src="https://ponddyreader-master.s3-us-west-1.amazonaws.com/landing/statics/media/for_teacher/icon/icon_07.svg">
                        <div class="title">
                            字典和拼音
                        </div>
                        <div class="description">
                            <font style="color:#576168">
                                自动分级生成的智能课文内置交互式字典及拼音，点击即可随时查找。
                            </font>
                        </div>
                    </div>
                    <!-- </div> -->
                    <!-- <div class="row text-center" id="all-features"> -->
                    <div class="col-lg-4 col-md-5 item text-left ">
                        <img class="icon" src="https://ponddyreader-master.s3-us-west-1.amazonaws.com/landing/statics/media/for_teacher/icon/icon_03.svg">
                        <div class="title">
                            Ponds (字词关联)
                        </div>
                        <div class="description">
                            <font style="color:#576168">
                                通过强大的人工智能系统，Reader 从数十亿字量级的中文语料库中提取字、词、部首，并形成相关联的网络— “Ponds”。借助 Ponds，学生即可轻松积累单词、遣词造句、提高阅读理解力。
                            </font>
                        </div>
                    </div>
                    <!-- </div> -->
                    <!-- <div class="row text-center" id="all-features"> -->
                    <div class="col-lg-4 col-md-5 item text-left ">
                        <img class="icon" src="https://ponddyreader-master.s3-us-west-1.amazonaws.com/landing/statics/media/for_teacher/icon/icon_05.svg">
                        <div class="title">
                            课堂资源
                        </div>
                        <div class="description">
                            <font style="color:#576168">
                                文库课文均配有多媒体课堂补充材料及教学提示，均衡辅导各项语言技能
                            </font>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
