<main role="main">
    <div>
        <div class="kv-site kv-main using-mouse" tabindex="-1">
            <!-- <a href="https://2020.ponddy.com/teachchinese-1#ada-tab-anchor" class="skip-link" data-tag="ada-skip-link">Skip to main content</a> -->
            <content class="kv-page" name="page-1608578487203">
                <div id="free_download" class="kv-page-content kv-ee-with-lahuni83" style="margin-top: 64px;">
                    <section class="background-id_0adjacent cukoza39 undefined" style=" position:relative;background-color: rgb(249,249,249);">
                        <div class="position-relative kv-content">
                            <div class="kv-ee-section kv-ee-align-left kv-content">
                                <div class="kv-ee-container-fluid">
                                    <div class="kv-ee-row">
                                        <div class="kv-ee-col-md-6">
                                            <div data-type="image" data-property="image" style="display: flex; height: 100%; align-items: center;">
                                                <img class="kv-ee-cover-image kv-ee-content-image " alt="red apple fruit on four pyle books" style="width: 100%; height: auto; padding-bottom: 0;background-position-x:50%;" data-setting="border" src="/public/images/m(1).png">
                                            </div>
                                        </div>
                                        <div class="kv-ee-col-md-6 kv-ee-text-col kv-ee-section--xl">
                                            <div class="kv-ee-text">
                                                <h2 class="kv-ee-cover-title kv-ee-hide-desktop kv-ee-section-title--md" data-type="text" tabindex="0">
                                                    <font class="cstm-fnt" style="font-size: 100.01%;">
                                                        <font class="cstm-fnt" style="font-size: 80.0021%;"><b>中文学校没效果？<br></b></font>
                                                        <font class="cstm-fnt" style="font-size: 100%;"><b><font class="cstm-cl kv-ee-custom-text-cl4">Ponddy</font></font></b><b><font class="cstm-cl kv-ee-custom-text-cl4 cstm-fnt" style="font-size: 90.0909%;"> 助您自己教！</font></b></font>
                                                    </font><span data-prop="title" class="ck-editable-element" data-editable="basic" style="display:none;"></span></h2>
                                                <p class="kv-ee-cover-description kv-ee-body--md" data-type="text" tabindex="0"><b>适合9岁以上华裔 - 对接美国教育体系</b><span data-prop="description" class="ck-editable-element" data-editable="basic" style="display:none;"></span></p>
                                            </div>
                                            <div class="kv-ee-buttons">
                                                <a id="download_top" class="kv-ee-button kv-ee-button-lg undefinedkv-ee-button-dynamic-buttons kv-button-instant-edit kv-ee-button-primary" href="https://ponddychinese-resources.s3-us-west-2.amazonaws.com/landings/homeshcool/0122-Ponddy+Homeschool-%E5%B1%85%E5%AE%B6%E4%B8%AD%E6%96%87%E6%95%99%E5%AD%A6%E6%8C%87%E5%8D%97.pdf"
                                                    target="_black" data-property="buttons">
                                                    <div class="kv-ee-button-has-title">
                                                        免费下载 《居家中文教学指南》
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
                </section>
                <section class="background-id_0 gadege31 undefined" style=" position:relative;">
                    <a name="section1608166028615"></a>
                    <div class="kv-background  " style=" background-color: rgb(255,255,255);">
                        <div class="kv-background-inner " style="background-color: rgb(255,255,255);"></div>
                    </div>
                    <div class="position-relative kv-content">
                        <div class="kv-ee-section kv-ee-right kv-ee-section--sm kv-content">
                            <div class="kv-ee-container">
                                <div class="kv-ee-row">
                                    <div class="kv-ee-col-sm-7 kv-ee-margin-mobile">
                                        <div class="kv-ee-align-left">
                                            <h2 class="kv-ee-section-title kv-ee-title--lg" data-type="text" tabindex="0"><b><font class="cstm-cl kv-ee-custom-text-cl4 cstm-fnt" style="font-size: 110.1%;">Ponddy® Homeschool</font></b><span data-prop="title" class="ck-editable-element" data-editable="basic" style="display:none;"></span></h2>
                                            <p class="kv-ee-section-description kv-ee-body--md" data-type="text" tabindex="0">Ponddy® Homeschool是由庞帝教育(Ponddy Education)开发的<b>居家智能中文教学方案</b>。借助Ponddy人工智能平台，没有教学经验的华裔家长也可以快速上手，根据个人学习需求，挑选合适的课程包，就能针对性的辅导孩子提高中文水平，无缝对接美国ACTFL语言教育体系。<br><br>Ponddy作为唯一同时获得College Board认可及美国西部学校及学院协会认证委员会 (ACS
                                                WASC)认证的线上中文教学机构，旗下系列中文产品基于专利AKLS®语言技术，涵盖智能平台、定制课程、线上备考等产品及服务，现已被全球84个国家超1000所学校及教育机构广泛采用。
                                                <br><span data-prop="description" class="ck-editable-element" data-editable="basic" style="display:none;"></span></p>
                                        </div>
                                    </div>
                                    <div class="kv-ee-col-sm-5">
                                        <div data-aspect-ratio="" class="kv-ee-image-container kv-ee-original">
                                            <div data-type="image" data-property="image" style="display: flex; height: 100%; align-items: center;">
                                                <img class="kv-ee-content-image loader" alt="Ponddy Education" style="width: 100%; height: auto; padding-bottom: 0;background-position-x:47.86677900560555%;" data-setting="border" src="/public/images/m(2).png">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="background-id_0adjacent yesuto98 lasari17 undefined" style=" position:relative;background-color: rgb(249,249,249);">
                    <a name="section1594418621949"></a>
                    <div class="kv-background  " style=" background-color: rgb(249,249,249);">
                        <div class="kv-background-inner " style="background-color: rgb(249,249,249);"></div>
                    </div>
                    <div class="position-relative kv-content">
                        <div class="kv-ee-section kv-ee-section--md kv-content">
                            <div class="kv-ee-container">
                                <div class="kv-ee-row">
                                    <div class="kv-ee-section-text kv-ee-col-12 kv-ee-align-center">
                                        <h2 class="kv-ee-section-title kv-ee-section-title--md" data-type="text" tabindex="0">
                                            <font class="cstm-fnt" style="font-size: 100.1%;">
                                                <font class="cstm-fnt" style="font-size: 79.9301%;">学习中文有难处？</font><b><font class="cstm-cl kv-ee-custom-text-cl4 cstm-fnt" style="font-size: 100.1%;">Ponddy<font class="cstm-fnt" style="font-size: 79.8503%;">来解决！</font></font></b></font><span data-prop="title"
                                                class="ck-editable-element" data-editable="basic" style="display:none;"></span></h2>
                                        <p class="kv-ee-section-subtitle kv-ee-overline kv-ee-title--xs" data-type="text" tabindex="0">解决华裔中文学习问题，全面提高孩子中文水平<span data-prop="subtitle" class="ck-editable-element" data-editable="basic" style="display:none;"></span></p>
                                    </div>
                                </div>
                                <div class="kv-ee-row">
                                    <div class="kv-ee-col-12  kv-ee-icon-filled  kv-ee-align-center">
                                        <div>
                                            <div class="kv-ee-row" data-type="list">
                                                <div class="kv-ee-col-6 kv-ee-col-md-4 kv-ee-content-item kv-ee-align-center">
                                                    <div class="kv-ee-item-card kv-ee-default-card kv-ee-drop-shadow-md" data-toggle="modal" data-target="#ponddy1Modal" data-was-processed="true">
                                                        <div class="icon-size- kv-ee-icon">
                                                            <img src="/public/images/difficult_1.svg">
                                                        </div>
                                                        <h3 class="kv-ee-title kv-ee-title--sm" data-type="text" tabindex="0" style="height: 100%;">
                                                            <b>找不到合适的中文课程？</b>
                                                        </h3>
                                                    </div>
                                                </div>
                                                <div class="kv-ee-col-6 kv-ee-col-md-4 kv-ee-content-item kv-ee-align-center">
                                                    <div class="kv-ee-item-card kv-ee-default-card  kv-ee-drop-shadow-md" data-toggle="modal" data-target="#ponddy2Modal">
                                                        <div class="icon-size- kv-ee-icon">
                                                            <img src="/public/images/difficult_2.svg">
                                                        </div>
                                                        <h3 class="kv-ee-title kv-ee-title--sm" data-type="text" tabindex="0" style="height: 100%;">
                                                            <b>能听能说但读写堪忧？</b>
                                                        </h3>
                                                    </div>
                                                </div>
                                                <div class="kv-ee-col-6 kv-ee-col-md-4 kv-ee-content-item kv-ee-align-center">
                                                    <div class="kv-ee-item-card kv-ee-default-card  kv-ee-drop-shadow-md" data-toggle="modal" data-target="#ponddy3Modal">
                                                        <div class="icon-size- kv-ee-icon">
                                                            <img src="/public/images/difficult_3.svg">
                                                        </div>
                                                        <h3 class="kv-ee-title kv-ee-title--sm" data-type="text" tabindex="0" style="height: 100%;">
                                                            <b>没兴趣，不想学？</b>
                                                        </h3>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="background-id_0 yesuto98 lasari17 undefined" style=" position:relative;">
                    <a name="section1608669089956"></a>
                    <div class="kv-background  " style=" background-color: rgb(255,255,255);">
                        <div class="kv-background-inner " style="background-color: rgb(255,255,255);"></div>
                    </div>
                    <div class="position-relative kv-content">
                        <div class="kv-ee-section kv-ee-section--lg kv-content">
                            <div class="kv-ee-container">
                                <div class="kv-ee-row">
                                    <div class="kv-ee-section-text kv-ee-col-12 kv-ee-align-center">
                                        <h2 class="kv-ee-section-title kv-ee-section-title--md" data-type="text" tabindex="0"><b>Ponddy</b>®<b>&nbsp;Homeschool 教学套组&nbsp;</b><span data-prop="title" class="ck-editable-element" data-editable="basic" style="display:none;"></span></h2>
                                        <p class="kv-ee-section-subtitle kv-ee-overline kv-ee-title--xs" data-type="text" tabindex="0">居家中文教学套组内容一览<span data-prop="subtitle" class="ck-editable-element" data-editable="basic" style="display:none;"></span></p>
                                    </div>
                                </div>
                                <div class="kv-ee-row">
                                    <div class="kv-ee-col-12  kv-ee-icon-filled  kv-ee-align-center">
                                        <div>
                                            <div class="kv-ee-row" data-type="list">
                                                <div class="kv-ee-col-6 kv-ee-col-sm-4 kv-ee-col-md-3 kv-ee-content-item kv-ee-align-center">
                                                    <div class="kv-ee-item-card kv-ee-default-card  kv-ee-drop-shadow-md">
                                                        <div class="icon-size- kv-ee-icon">
                                                            <div class="kv-ee-feature-image" data-type="icon" data-property="icon">
                                                                <i class="fa fa-book"> </i>
                                                            </div>
                                                        </div>
                                                        <h3 class="kv-ee-title kv-ee-title--sm" data-type="text" tabindex="0">零基础至高级<br>多套完整线上教材<span data-prop="title" class="ck-editable-element" data-editable="basic" style="display:none;"></span></h3>
                                                    </div>
                                                </div>
                                                <div class="kv-ee-col-6 kv-ee-col-sm-4 kv-ee-col-md-3 kv-ee-content-item kv-ee-align-center">
                                                    <div class="kv-ee-item-card kv-ee-default-card  kv-ee-drop-shadow-md">
                                                        <div class="icon-size- kv-ee-icon">
                                                            <div class="kv-ee-feature-image" data-type="icon" data-property="icon">
                                                                <i class="fa fa-file-o"> </i>
                                                            </div>
                                                        </div>
                                                        <h3 class="kv-ee-title kv-ee-title--sm" data-type="text" tabindex="0">新手老师<br>保姆级教学指南<span data-prop="title" class="ck-editable-element" data-editable="basic" style="display:none;"></span></h3>
                                                    </div>
                                                </div>
                                                <div class="kv-ee-col-6 kv-ee-col-sm-4 kv-ee-col-md-3 kv-ee-content-item kv-ee-align-center">
                                                    <div class="kv-ee-item-card kv-ee-default-card  kv-ee-drop-shadow-md">
                                                        <div class="icon-size- kv-ee-icon">
                                                            <div class="kv-ee-feature-image" data-type="icon" data-property="icon">
                                                                <i class="fa fa-calendar"> </i>
                                                            </div>
                                                        </div>
                                                        <h3 class="kv-ee-title kv-ee-title--sm" data-type="text" tabindex="0">教学计划及配套学习进度追踪表单<span data-prop="title" class="ck-editable-element" data-editable="basic" style="display:none;"></span></h3>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="background-id_0adjacent zoduye36 vefova18 undefined undefined" style=" position:relative;">
                    <a name="section418"></a>
                    <div class="kv-background" style=" background-color: rgb(249,249,249);">
                        <div class="kv-background-inner " style="background-color: rgb(249,249,249);"></div>
                    </div>
                    <div class="position-relative kv-content">
                        <div class="kv-ee-section kv-ee-section--sm kv-ee-align-center kv-content">
                            <div class="kv-ee-container kv-ee-titles">
                                <div class="kv-ee-row">
                                    <div class="kv-ee-section-text kv-ee-col-12">
                                        <h2 class="kv-ee-section-title kv-ee-caption-title kv-ee-section-title--md" data-type="text" tabindex="0">Ponddy® Home School - 3 大特点&nbsp;<br><span data-prop="title" class="ck-editable-element" data-editable="basic" style="display:none;"></span></h2>
                                    </div>
                                </div>
                            </div>
                            <div class="kv-ee-container kv-ee-items">
                                <div class="kv-ee-row kv-ee-position">
                                    <div class="kv-ee-col-12 kv-ee-landscape">
                                        <div>
                                            <div class="kv-ee-row" data-type="list">
                                                <div class="kv-ee-col-12 kv-ee-content kv-ee-left kv-ee-drop-shadow ">
                                                    <div class="kv-ee-row">
                                                        <div class="kv-ee-col-sm-4 kv-ee-image-col">
                                                            <div data-type="image" data-property="image" class="kv-ee-item-img kv-ee-gallery kv-ee-content-image " aria-label="Ponddy Online Chinese" alt="Ponddy Online Chinese" style="background-position: center center;background-image: url(&#39;/public/images/engaging.png&#39;);"
                                                                data-setting="border"></div>
                                                        </div>
                                                        <div class="kv-ee-col-sm-8 kv-ee-valign-center">
                                                            <div class="kv-ee-content-text">
                                                                <hr class="kv-ee-line">
                                                                <h3 class="kv-ee-title--sm" data-type="text" tabindex="0"><b>原创课程<br></b>涵盖所有等级，多套课程选择，800+原创智能课文&nbsp;<br><span data-prop="title" class="ck-editable-element" data-editable="basic" style="display:none;"></span></h3>
                                                                <p class="kv-ee-body--md" data-type="text" tabindex="0">
                                                                    <font class="cstm-fnt" style="font-size: 100.1%;">■ 庞帝提供多种原创课程包选项，所有的智能课文以超文本的方式收纳在庞帝文库里（800+），您可以选择课程包或独立课文教学。<br>&nbsp;■ 除了提供大量的主题式分级课文，强大的AI功能，能够将喜欢的内容动态生成新的智能课文和练习。
                                                                    </font><br><span data-prop="description" class="ck-editable-element" data-editable="basic" style="display:none;"></span></p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="kv-ee-col-12 kv-ee-content kv-ee-left kv-ee-drop-shadow ">
                                                    <div class="kv-ee-row">
                                                        <div class="kv-ee-col-sm-4 kv-ee-image-col">
                                                            <div data-type="image" data-property="image" class="kv-ee-item-img kv-ee-gallery kv-ee-content-image " aria-label="Ponddy Online Chinese Reader" alt="Ponddy Online Chinese Reader" style="background-position-x:31.821893153730862%;background-image: url(&#39;/public/images/effective.png&#39;);"
                                                                data-setting="border"></div>
                                                        </div>
                                                        <div class="kv-ee-col-sm-8 kv-ee-valign-center">
                                                            <div class="kv-ee-content-text">
                                                                <hr class="kv-ee-line">
                                                                <h3 class="kv-ee-title--sm" data-type="text" tabindex="0"><b>AI赋能&nbsp;</b><br>AKLS®语言技术，没有教学经验，也能快速上手&nbsp;<br><span data-prop="title" class="ck-editable-element" data-editable="basic" style="display:none;"></span></h3>
                                                                <p class="kv-ee-body--md" data-type="text" tabindex="0">■ Ponddy系列中文产品基于专利AKLS®语言技术，满足多方面的中文教育需求，涵盖智能平台、定制课程、线上备考等产品及服务<br>■ 简单易懂的教学指南和专业老师的咨询，家长可以快速上手，孩子的学习的成效可以实时得到反馈<br><br><span data-prop="description" class="ck-editable-element" data-editable="basic"
                                                                        style="display:none;"></span></p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="kv-ee-col-12 kv-ee-content kv-ee-left kv-ee-drop-shadow ">
                                                    <div class="kv-ee-row">
                                                        <div class="kv-ee-col-sm-4 kv-ee-image-col">
                                                            <div data-type="image" data-property="image" class="kv-ee-item-img kv-ee-gallery kv-ee-content-image " aria-label="Ponddy Online Chinese WASC" alt="Ponddy Online Chinese WASC" style="background-position: center center;background-image: url(&#39;/public/images/trusted.png&#39;);"
                                                                data-setting="border"></div>
                                                        </div>
                                                        <div class="kv-ee-col-sm-8 kv-ee-valign-center">
                                                            <div class="kv-ee-content-text">
                                                                <hr class="kv-ee-line">
                                                                <h3 class="kv-ee-title--sm" data-type="text" tabindex="0"><b>无缝对接&nbsp;</b><br>跨文本分级系统贯通知识点，接轨美国主流教学体系ACTFL<br><span data-prop="title" class="ck-editable-element" data-editable="basic" style="display:none;"></span></h3>
                                                                <p class="kv-ee-body--md" data-type="text" tabindex="0">■ Ponddy是唯一同时获得College Board认可及美国西部学校及学院协会认证委员会 (ACS WASC)认证的线上中文教学机构。<br>■ 跨文本分级系统贯通所有知识点，辅导孩子提高中文水平，帮学生查缺补漏，无缝对接美国ACTFL语言教育体系<br><span data-prop="description" class="ck-editable-element"
                                                                        data-editable="basic" style="display:none;"></span></p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="background-id_2 macuje57 undefined" style=" position:relative;background-color: rgb(255,192,92);">
                    <a name="section1608687042542"></a>
                    <div class="kv-background  " style=" background-color: rgb(255,192,92);">
                        <div class="kv-background-inner " style="background-color: rgb(255,192,92);"></div>
                    </div>
                    <div class="position-relative kv-content">
                        <div class="kv-ee-section kv-ee-section--sm kv-ee-right kv-content">
                            <div class="kv-ee-container">
                                <div class="kv-ee-row">
                                    <div class="kv-ee-col-12">
                                        <div class="kv-ee-content-card kv-ee-align-left">
                                            <div style="width: 100%;text-align: center;">
                                                <div class="kv-ee-section-text kv-ee-content-text">
                                                    <h2 class="kv-ee-section-title kv-ee-on_card kv-ee-section-title--sm" data-type="text" tabindex="0"><b>最优质的中文教育，在家即可拥有！</b>！<br>
                                                        <font class="cstm-fnt" style="font-size: 60.01%;">
                                                            <font class="cstm-fnt" style="font-size: 83.3359%;">点击即可免费领取《居家中文教学指南》，内含独家Ponddy Reader订阅折扣</font>
                                                        </font>
                                                    </h2>
                                                    <a id="download_down" class="kv-ee-button-card kv-ee-button-md kv-ee-button undefined kv-ee-button-dynamic-buttons kv-button-instant-edit kv-ee-button-primary" href="https://ponddychinese-resources.s3-us-west-2.amazonaws.com/landings/homeshcool/0122-Ponddy+Homeschool-%E5%B1%85%E5%AE%B6%E4%B8%AD%E6%96%87%E6%95%99%E5%AD%A6%E6%8C%87%E5%8D%97.pdf"
                                                        target="_black" data-property="buttons">
                                                        <div class="kv-ee-button-has-title">免费下载
                                                            <div data-editable="button" data-prop="buttons.0.title" style="display:none;">
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="background-id_0 komupe08 jikego13 undefined" style=" position:relative;">
                    <a name="section1594418621649"></a>
                    <div class="kv-background  " style=" background-color: rgb(255,255,255);">
                        <div class="kv-background-inner " style="background-color: rgb(255,255,255);"></div>
                    </div>
                    <div class="position-relative kv-content">
                        <div class="kv-ee-section kv-ee-section--lg kv-ee-align-center kv-content">
                            <div class="kv-ee-container">
                                <div class="kv-ee-row">
                                    <div class="kv-ee-section-text kv-ee-col-12">
                                        <h2 class="kv-ee-section-title kv-ee-section-title--md" data-type="text" tabindex="0"><b><font class="cstm-fnt" style="font-size: 90.01%;">Ponddy, 线上中文教育领跑者</font></b><span data-prop="title" class="ck-editable-element" data-editable="basic" style="display:none;"></span></h2>
                                        <p class="kv-ee-section-description kv-ee-body--md" data-type="text" tabindex="0">Ponddy Reader智能平台已被全球<b>84个国家，1000+学校及教育机构</b>采用作为其主要线上中文教育平台<br>
                                            <span data-prop="description" class="ck-editable-element" data-editable="basic" style="display:none;"></span></p>
                                    </div>
                                </div>
                            </div>
                            <div class="kv-ee-container-fluid">
                                <div class="kv-ee-row kv-ee-row-align">
                                    <div class="kv-ee-col-12 kv-ee-gutters kv-ee-square ">
                                        <div class="swiper-section">
                                            <div class="kv-ee-row" data-type="list">
                                                <div class="kv-ee-col-6 kv-ee-col-md-4 kv-ee-item">
                                                    <div class="kv-ee-column">
                                                        <div class="kv-ee-content-card kv-ee-default-card  ">
                                                            <div class="kv-ee-card-img">
                                                                <div data-type="image" data-property="image" class="kv-ee-content-image kv-ee-gallery " aria-label="person writing on brown wooden table near white ceramic mug" alt="person writing on brown wooden table near white ceramic mug" style="background-position: center center;background-image: url(&#39;/public/images/universities.png&#39;);"
                                                                    data-setting="border"></div>
                                                            </div>
                                                            <div class="kv-ee-card-text kv-ee-align-center">
                                                                <h3 class="kv-ee-card-title kv-ee-title--xs" data-type="text" tabindex="0">大学<span data-prop="title" class="ck-editable-element" data-editable="basic" style="display:none;"></span></h3>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="kv-ee-col-6 kv-ee-col-md-4 kv-ee-item">
                                                    <div class="kv-ee-column">
                                                        <div class="kv-ee-content-card kv-ee-default-card  ">
                                                            <div class="kv-ee-card-img">
                                                                <div data-type="image" data-property="image" class="kv-ee-content-image kv-ee-gallery " aria-label="colored pencil lined up on top of white surface" alt="colored pencil lined up on top of white surface" style="background-position: center center;background-image: url(&#39;/public/images/school_districts.png&#39;);"
                                                                    data-setting="border"></div>
                                                            </div>
                                                            <div class="kv-ee-card-text kv-ee-align-center">
                                                                <h3 class="kv-ee-card-title kv-ee-title--xs" data-type="text" tabindex="0">学区<span data-prop="title" class="ck-editable-element" data-editable="basic" style="display:none;"></span></h3>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="kv-ee-col-6 kv-ee-col-md-4 kv-ee-item">
                                                    <div class="kv-ee-column">
                                                        <div class="kv-ee-content-card kv-ee-default-card  ">
                                                            <div class="kv-ee-card-img">
                                                                <div data-type="image" data-property="image" class="kv-ee-content-image kv-ee-gallery " aria-label="red apple fruit on four pyle books" alt="red apple fruit on four pyle books" style="background-position: center center;background-image: url(&#39;/public/images/international_schools.png&#39;);"
                                                                    data-setting="border"></div>
                                                            </div>
                                                            <div class="kv-ee-card-text kv-ee-align-center">
                                                                <h3 class="kv-ee-card-title kv-ee-title--xs" data-type="text" tabindex="0">国际学校<span data-prop="title" class="ck-editable-element" data-editable="basic" style="display:none;"></span></h3>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="kv-ee-row" data-type="swipe-list">
                                                <div class="kv-ee-swiper-container swiper-container-horizontal swiper-container-autoheight" style="padding-bottom: 25px;">
                                                    <div class="kv-ee-swiper-wrapper">
                                                    </div>

                                                    <div class="kv-ee-swiper-pagination swiper-pagination-clickable swiper-pagination-bullets" style="bottom: 0;"></div>
                                                    <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <section id="FAQ" class="background-id_0 datoxo63 vonuri95 undefined" style=" position:relative;">
                    <a name="section141"></a>
                    <div class="kv-background " style=" background-color: rgb(255,255,255);">
                        <div class="kv-background-inner " style="background-color: rgb(255,255,255);"></div>
                    </div>
                    <div class="position-relative kv-content">
                        <div class="section section--sm align-left kv-content">
                            <div class="container">
                                <div class="row">
                                    <div class="col-12 titles section-text">
                                        <h2 class="section-title section-title--sm" data-type="text" tabindex="0">
                                            <b>FAQ</b>
                                        </h2>
                                    </div>
                                </div>
                            </div>
                            <div class="container list">
                                <div>
                                    <div class="row" data-type="list">
                                        <div class="col-12 col-sm-6 mx-auto mx-lg-0">
                                            <div class="faq">
                                                <div class="anchor">
                                                    <h3 class="question title--xs en" data-type="text" tabindex="0"><b>我没有中文教学经验，能用这个教学套组吗？&nbsp;</b></h3>
                                                </div>
                                                <p class="answer body--md en" data-type="text" tabindex="0">居家中文教学套组是市面上独有的AI赋能一站式家教方案，内含教学所需的全部教材教辅、教学指南、智能平台，更有华裔家长专属中文教学社群，专业老师提供教学支持。只要您的母语是中文，就可以使用该套组快速上手，独立进行中文教学。&nbsp;</p>
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm-6 mx-auto mx-lg-0">
                                            <div class="faq">
                                                <div class="anchor">
                                                    <h3 class="question title--xs en" data-type="text" tabindex="0"><b>我的学生/孩子中文水平不一，套组里的教材能够满足我的需求吗？</b></h3>
                                                </div>
                                                <p class="answer body--md en" data-type="text" tabindex="0">本套组涵盖全等级的智能中文教学内容，由Ponddy专业教师及语言技术团队耗时三年打造，从零基础到AP及以上的高阶内容一应俱全。总计900+课文全部提供繁简体双版本，智能平台更支持自主输入文本，即时生成原创课文，满足多样化、个性化的教学需求。&nbsp;
                                                </p>
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm-6 mx-auto mx-lg-0">
                                            <div class="faq">
                                                <div class="anchor">
                                                    <h3 class="question title--xs en" data-type="text" tabindex="0"><b>这个教材是根据什么标准编订的？</b></h3>
                                                </div>
                                                <p class="answer body--md en" data-type="text" tabindex="0">Ponddy独家开发的跨文本分级系统，无缝对接美国教学体系，同时对标HSK/ACTFL/CEFR等国际语言等级标准。&nbsp;</p>
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm-6 mx-auto mx-lg-0">
                                            <div class="faq">
                                                <div class="anchor">
                                                    <h3 class="question title--xs en" data-type="text" tabindex="0"><b>我没时间自己教孩子，你们有中文课程吗？&nbsp;</b></h3>
                                                </div>
                                                <p class="answer body--md en" data-type="text" tabindex="0">Ponddy Tutors 提供1对1线上课程，由专业老师授课。庞帝课程通过College Board审核、ACS WASC认证，可以申请美国高中学分。详情请见tutors.ponddy.com</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="background-id_2 qukefe53" style="position:relative;background-color: rgb(255,192,92);margin: 50px 0;">
                    <a name="section231"></a>
                    <div class="kv-background" style="background-color: rgb(255,192,92);">
                        <div class="kv-background-inner " style="background-color: rgb(255,192,92);"></div>
                    </div>
                    <div class="position-relative kv-content">
                        <div class="kv-ee-section kv-ee-section--sm kv-ee-align-center kv-content">
                            <div class="kv-ee-container">
                                <div class="kv-ee-row kv-ee-v-center kv-ee-direction">
                                    <div class="kv-ee-section-text kv-ee-column">
                                        <h2 class="kv-ee-section-title kv-ee-title kv-ee-section-title--md" data-type="text" tabindex="0"><span style="font-size: 31.5995px;"><b><font class="cstm-fnt" style="font-size: 112.611%;">选择Ponddy，中文在家高效学</font></b></span><span data-prop="title" class="ck-editable-element" data-editable="basic" style="display:none;"></span></h2>
                                        <p class="kv-ee-section-description kv-ee-body--md" data-type="text" tabindex="0">手把手演示&nbsp; 包学包会<br>(408) 800-7798 <br> sales@ponddy-edu.com
                                            <br><span data-prop="description" class="ck-editable-element" data-editable="basic" style="display:none;"></span></p>
                                    </div>
                                    <div class="kv-ee-column kv-ee-button-group">
                                        <a id="tel_button" class="kv-ee-button-md kv-ee-move-button undefined kv-ee-button-dynamic-buttons kv-button-instant-edit kv-ee-button-primary" data-index="0" data-type="button" tabindex="0" data-href="tel:4088007798" href="tel:4088007798" target="_blank"
                                            data-property="buttons" style="font-size: 112.5%">
                                            <div style="font-size: 112.5%" class="kv-ee-button-has-title">即刻致电&nbsp; 了解详情
                                                <div data-editable="button" data-prop="buttons.0.title" style="display:none;">
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="background-id_0 bajigu78" style=" position:relative;">
                    <a name="section1"></a>
                    <div class="kv-background  " style=" background-color: rgb(255,255,255);">
                        <div class="kv-background-inner " style="background-color: rgb(255,255,255);"></div>
                    </div>
                    <div class="position-relative kv-content">
                        <footer class="kv-content">
                            <div class="kv-ee-container kv-ee-spacing">
                                <div class="kv-ee-row kv-ee-align-center">
                                    <div class="kv-ee-logo-group">
                                        <div data-type="logo" data-property="global.logo" class="kv-ee-logo-small">
                                            <img class="kv-ee-logo-image loader" style="background-position: center center;" data-setting="border" src="/public/images/m(3).png">
                                            <a href="https://2020.ponddy.com/" data-href="/" style="width: 100%; height: 100%; display: block; position: absolute; top: 0; left: 0;z-index: 1"></a>
                                        </div>
                                    </div>
                                </div>
                                <hr class="kv-ee-line">
                                <div class="kv-ee-row ">
                                    <div class="kv-ee-item-25">
                                        <h4 class="kv-ee-title" data-type="text" tabindex="0">Address<span data-prop="titleAddress" class="ck-editable-element" data-editable="basic" style="display:none;"></span></h4>
                                        <p class="kv-ee-opaque" data-type="address">1550 The Alameda, Ste 310<br> San Jose, CA, 95126 </p>
                                        <div class="kv-ee-buttons">
                                            <a href="tel:408-800-7798" data-type="phone" class="kv-ee-body--sm">408-800-7798</a>
                                            <a href="mailto:sales@ponddy-edu.com" data-type="email" class="kv-ee-body--sm">sales@ponddy-edu.com</a>
                                        </div>
                                    </div>
                                    <div class="kv-ee-item-50">
                                        <h4 class="kv-ee-title" data-type="text" tabindex="0"><b>About Ponddy</b><span data-prop="titleDescription" class="ck-editable-element" data-editable="basic" style="display:none;"></span></h4>
                                        <p class="kv-ee-opaque" data-type="text" tabindex="0">
                                            <font class="cstm-fnt">Ponddy Education is the leader in ONLINE Chinese teaching and learning.&nbsp; Our AI-powered platform helps teachers teach more effectively and students learn more efficiently.&nbsp; Our progressive online courses
                                                are designed following ACTFL guidelines, covering all proficiency levels from novice to advanced, including a College Board approved AP® Chinese Language and Culture course.&nbsp; Ponddy offer a spectrum
                                                of Chinese courses ONLINE.&nbsp; For more courses, please visit<b><i> <a href="http://tutors.ponddy.com/" target="_blank" rel="noopener noreferrer"><font class="cstm-cl custom-text-cl4">tutors.ponddy.com</font></a></i></b></font>
                                            <span data-prop="description" class="ck-editable-element" data-editable="basic" style="display:none;"></span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="kv-ee-subfooter">
                                <div class="kv-ee-container-fluid">
                                    <div class="kv-ee-row">
                                        <div class="kv-ee-content-left kv-ee-legal">
                                            <p style="font-size: 16px;"><span data-type="copyright">© 2021 Ponddy Online Chinese</span></p>
                                            <div class="kv-ee-legal-placeholder"></div>
                                        </div>
                                        <div class="kv-ee-content-right">
                                            <p class="kv-ee-opaque kv-ee-title-social" style="display: flex;font-size: 16px;align-items: center;" data-type="text" tabindex="0">Follow us<span data-prop="titleSocial" class="ck-editable-element" data-editable="basic" style="display:none;"></span></p>
                                            <div class="kv-ee-social-icons" data-type="social">
                                                <a href="https://www.facebook.com/ponddyeducation/" target="_blank" class="kv-ee-social-link" aria-label="Social link Facebook">
                                                    <i class="fa fa-facebook-official"></i>
                                                </a>
                                                <a href="https://www.instagram.com/ponddyeducation/" target="_blank" class="kv-ee-social-link" aria-label="Social link Instagram">
                                                    <i class="fa fa-instagram"></i>
                                                </a>
                                                <a href="https://www.linkedin.com/company/ponddy/" target="_blank" class="kv-ee-social-link" aria-label="Social link LinkedIn">
                                                    <i class="fa fa-linkedin-square"></i>
                                                </a>
                                                <a href="https://www.youtube.com/channel/UCX8GMbAnPXbenlJEgSU_vTQ" target="_blank" class="kv-ee-social-link" aria-label="Social link YouTube">
                                                    <i class="fa fa-youtube-play"></i>
                                                </a>
                                                <a href="https://twitter.com/PonddyEducation" target="_blank" class="kv-ee-social-link" aria-label="Social link Twitter">
                                                    <i class="fa fa-twitter"></i>
                                                </a>
                                                <a href="https://www.pinterest.com/ponddyeducation/" target="_blank" class="kv-ee-social-link" aria-label="Social link Pinterest">
                                                    <i class="fa fa-pinterest"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </footer>
                    </div>
                </section>
        </div>
        </content>
    </div>
    </div>
</main>