<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MKBG4P9"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <!---->
    {{ partial "homeschool/body_header" }}
    <!---->
    {{ partial "homeschool/body_ponddy_1" }}
    <!---->
    {{ partial "homeschool/body_ponddy_2" }}
    <!---->
    {{ partial "homeschool/body_ponddy_3" }}
    <!---->
    {{ partial "homeschool/body_main" }}
    <!---->
    {{ partial "homeschool/body_footer" }}
    <!---->
    {{ partial "homeschool/body_scripts" }}

</body>